target_url: https://www.cloudflare.com/cdn-cgi/trace
request_interval_ms: 1000
request_timeout: 30
metrics_port: 8080
proxies:
  - name: wifi
    type: socks5
    url: socks5://username:password@proxy.example.com:1080
  - name: mobile
    type: http
    url: http://username:password@proxy.example.com:8080
